{% extends 'account/base.html' %}


{% block content %}
<div class="flex flex-col items-center mt-2 centered-content">
    <h2 class="text-xl font-bold text-blue-600 mb-4">Categories</h2>
    <div class="flex flex-row justify-center items-center border border-blue-500 shadow-lg rounded-lg p-2">
        {% if categories %}
        <ul class="flex space-x-4">
            {% for category in categories %}
            <li>
                <a href="{% url 'categories' category.id %}" class="bg-blue-500 text-white hover:bg-blue-600 rounded-lg px-4 py-2 transition duration-200 transform hover:scale-105">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-center text-gray-700">Categories Not Found!</p>
        {% endif %}
    </div>
</div>
{% endblock %}