{% extends 'account/base.html' %}

{% block content %}
    <div class="summary">
        <h1 class="">Dropout Summary</h1>
        <p>Total Students: {{ summary.total_students }}</p>
        <p>Total Dropouts: {{ summary.total_dropouts }}</p>
        <p>Academic Dropouts: {{ summary.academic_dropouts }}</p>
        <p>Financial Dropouts: {{ summary.financial_dropouts }}</p>
        <p>Health Dropouts: {{ summary.health_dropouts }}</p>
        <p>Personal Dropouts: {{ summary.personal_dropouts }}</p>
        <p>Marriage Dropouts: {{ summary.marriage_dropouts }}</p>
        <p>Distance Dropouts: {{ summary.distance_dropouts }}</p>
        <p>Death Dropouts: {{ summary.death_dropouts }}</p>
        <p>Other Dropouts: {{ summary.other_dropouts }}</p>
    </div>
{% endblock %}