{% extends 'account/base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="mx-auto p-4 border">
        <h1 class="text-xl font-bold text-blue-700 text-center">Edit Student: {{ student.user.username }}</h1>
        <form method="post" class="mt-4 flex flex-col p-2">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
                    {{ field|add_class:"mt-1 block w-full p-2 border border-gray-300 rounded" }}
                </div>
            {% endfor %}

            <button type="submit" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-700">Save Changes</button>
        </form>
        <a href="{% url 'home' %}" class="mt-4 inline-block text-blue-500">Cancel</a>
    </div>
{% endblock %}