{% extends 'account/base.html' %}

{% load static %}

{% block content %}
<div class="">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:w-full lg:h-screen lg:overflow-hidden capitalize">
        <div class="flex flex-col text-blue text-xl text-light p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            how do engage the part of the page here
        </div>
        <div class="flex flex-col bg-red text-xl text-blue p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box is the best part of the system that have been ?
        </div>
        <div class="flex flex-col bg-green text-blue text-xl p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box kill inside the box, then no one will bury you
        </div>
        <div class="flex flex-col text-blue text-xl text-light p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            how do engage the part of the page here
        </div>
        <div class="flex flex-col bg-red text-xl text-blue p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box is the best part of the system that have been ?
        </div>
        <div class="flex flex-col bg-green text-blue text-xl p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box kill inside the box, then no one will bury you
        </div>
        <div class="flex flex-col text-blue text-xl text-light p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            how do engage the part of the page here
        </div>
        <div class="flex flex-col bg-red text-xl text-blue p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box is the best part of the system that have been ?
        </div>
        <div class="flex flex-col bg-green text-blue text-xl p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box kill inside the box, then no one will bury you
        </div>
        <div class="flex flex-col text-blue text-xl text-light p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            how do engage the part of the page here
        </div>
        <div class="flex flex-col bg-red text-xl text-blue p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box is the best part of the system that have been ?
        </div>
        <div class="flex flex-col bg-green text-blue text-xl p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box kill inside the box, then no one will bury you
        </div>
        <div class="flex flex-col text-blue text-xl text-light p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            how do engage the part of the page here
        </div>
        <div class="flex flex-col bg-red text-xl text-blue p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box is the best part of the system that have been ?
        </div>
        <div class="flex flex-col bg-green text-blue text-xl p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box kill inside the box, then no one will bury you
        </div>
        <div class="flex flex-col bg-red text-xl text-blue p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box is the best part of the system that have been ?
        </div>
        <div class="flex flex-col bg-green text-blue text-xl p-4 rounded-lg shadow-md overflow-y-auto" style="max-height: 80vh;">
            box kill inside the box, then no one will bury you
        </div>
    </div>
</div>
{% endblock %}