{% extends 'account/base.html' %}

{% block content %}
<div class="flex flex-col items-center p-4 settings"> 
    <label for="settings" class="block mb-2 text-gray-700 font-semibold">Settings</label>
    <select name="settings" id="settings" class="bg-gray-200 text-gray-800 p-2 rounded-lg shadow focus:outline-none focus:ring focus:ring-blue-400" onchange="handleSelectChange(event)">
        <option value="" disabled selected>Select an option</option>
        <option value="{% url 'change_password' %}">Change Password</option>
        <option value="{% url 'change-email' %}">Change Email</option>
        <option value="{% url 'account-delete' %}">Delete Account</option>
        <option value="{% url 'logout' %}">Logout</option>
        <option value="{% url 'account_profile' %}">Profile</option>
        <option value="{% url 'change-phone' %}">Change Phone</option>
    </select>
</div>

<script>
    function handleSelectChange(event) {
        const selectedValue = event.target.value;
        if (selectedValue) {
            window.location.href = selectedValue; // Redirect to the selected URL
        }
    }
</script>
{% endblock %}